@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    font-family: 'Bilbo', cursive;
}

body {
    background-color: antiquewhite;
}

ul {
  padding: 0;
}

li {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px;
    color: #977750;
    border: 1px solid #977750;
    border-radius: 5px;
}

li.selected {
    color: antiquewhite;
    background-color: #977750;
}

a {
    color: #977750;
}

a:visited {
    color: #4b3b28;
}

input {
  font-family: sans-serif;
}

.portrait {
    width: 200px;
    height: 200px;
    border: 10px solid #977750;
    border-radius: 110px;
}

.backdrop {
    filter: blur(50px);
    opacity: 0.35;
    transition: all 0.2s;
}

#details {
    padding: 20px;
}

#details > div {
    margin-bottom: 50px;
}

#character-search {
    padding: 20px;
}

#characters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
}

#characters-list > *{
  font-family: sans-serif !important;
  padding: 10px;
  flex-grow: 1;
}

#edit-status {
  font-family: sans-serif !important;
  color: green;
  opacity: 0;
  min-height: 50px;
  transition: all 0.2s;
}